.carousel btn{
   background-color: rgb(255, 0, 119);
}
.card{
    border: none;
    box-shadow: 2px 5px 18px gray;
}
.btn{
    color: white;
    background-color:#fd0076 ;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    background-color: #F7EAE9;
    border-radius: 10px;
}
.info p{
    text-align: center;
    color: gray;
}
.input{
    width: 100%;
    height: 50px;
    border: 1px solid rgb(186, 187, 183);
    border-radius: 8px;
}
.submit{
    max-height: 50px;
    padding: 7px 30px;
}

.copy_right{
    text-align: center;
    font-size: .9rem;
    margin-top: 80px;
}
.copy_right p{
    margin-bottom: 0px;
    padding-bottom: 0px;
}